* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header or NAV Section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddd;

}

#logo-img {
    width: 100px;
    height: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.button {
    background-color: green;
    color: white;
    padding: 10px 30px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}

.nav-links a:hover {
    color: #168038;
}

.button:hover {
    background-color: #ffffff;
    color: green;
    border: 1px solid green;
}

/* Hero Section */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #f5f7fa;
}

.hero-content {

}

.hero-content h1 {
    font-size: 50px;
    color: #0b3c84;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 20px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 25px;
}

.hero-btn {
    padding: 12px 25px;
    font-size: 16px;
    color: #fff;
    background-color: #168038;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #136a2f;
}

/* About Section */

.about-section {
    padding: 80px 20px;
    background-color: #391c7c;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about-container h2 {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 25px;
}

.hw-bottom-border{
    border-bottom: 3px solid #ffffff;
}

.about-container p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.7;
    margin-bottom: 20px;
}
.hbottom-border {
    border-bottom: 3px solid #0b3c84;
}

/* Skill Section */

.skill-section {
    text-align: center;
    margin-top: 60px;
}

.skill-container {
    margin: 20px 20px 60px;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.skill-section h2 {
    font-size: 36px;
    color: #0b3c84;
}

.skill-box {
    border: 2px solid #f5f7fa;
    width: 300px;
    /*height: 20%;*/
    background-color: #ffffff;
    padding: 50px;
    color: #0b3c84;
    text-align: center;
    font-size: 32px;
    box-shadow: 10px 10px #f5f7fa;
}

/* project Section */

.project-section {
    text-align: center;
    margin-bottom: 50px;
}

.project-section h2 {
    font-size: 36px;
    color: #0b3c84;
    margin-bottom: 40px;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.project-box {
    width: 400px;
    border: 2px solid #f5f7fa;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color:#ffffff;
    box-shadow: 10px 10px #f5f7fa;
}

.project-box h3 {
    font-size: 24px;
    color: #0b3c84;
    margin-bottom: 20px;
}

.project-box p{
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.project-box a {
    font-size: 18px;
    cursor: pointer;
}
.project-box a:hover {
    color:#168038;
}

/* Footer Section */

.footer {
    background-color: #0b3c84;
    color: #ffffff;
    padding: 60px 20px;
}

.footer-container {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.footer-container h3 {
    font-size: 24px;
    margin-bottom: 10px;

}

.footer-container p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 25px;
}

.footer-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.footer-links a:hover {
    color: #168038;
}
.copyright {
    font-size: 14px;
    color: #cccccc;
}