* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddd;

}

#logo-img {
    width: 100px;
    height: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.button {
    background-color: purple;
    color: white;
    padding: 10px 30px;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}

.nav-links a:hover {
    color: #168038;
}

.button:hover {
    background-color: #ffffff;
    color: purple;
    border: 1px solid purple;
}